# Flutter / Dart
.dart_tool/
.pub/
build/
.packages

# Generated
.flutter-plugins
.flutter-plugins-dependencies
**/generated_plugin_registrant.dart

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Env
.env

# Android
android/.gradle/
android/app/build/

# iOS
ios/Pods/
ios/.symlinks/

# Misc
.metadata